.f1 {
  font-family: monospace;
  font-size: 7em;
}

.f2 {
  font-family: monospace;
  font-size: 2em;
  margin-bottom: 20px;
  margin-top: 20px;
}

.f2 button {
  font-family: monospace;
  font-size: 1em;
  outline: none;
}

.b-both {
  border-radius: 5px;
}

.b-left {
  border-radius: 5px 0 0 5px;
}

.b-right {
  border-radius: 0 5px 5px 0;
}

.b-on {
  background-color: grey;
}

.won {
  color: red;
}

.draw {
  color: blue;
}

.passed {
  color: green;
}

.failed {
  color: red;
}

.footer {
  margin-top: 50px;
}
